* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #000;
}

.text-bold-white-josefin {
    font-family: 'Josefin Sans',  sans-serif;
    font-weight: 700;
    color: #FFF
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 320px;
    width: 317px;
}

img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
}

.input-primary {
    height: 118px;
    padding: 17px;
}

.secondary-inputs {
    display: flex;
    gap: 10px;
}

.input-secondary {
    width: 50%;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.input-primary, .input-secondary {
    background-color: #444059;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #FFF;
    resize: none;
}

textarea:focus {
    outline: 1.5px solid #FFC851;
}

textarea, button {
    width: 100%;
    border: none;
    border-radius: 8px;
}

.main-btn {
    height: 61px;
    margin-top: 15px;
    font-size: 22px;
    padding-top: 5px;
    background: #28A9F1;
}

.main-btn:hover {
    cursor: pointer;
    background: #28abf1db;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
}

ul li {
    color: #000;
    background-color: #FFF;
    border-radius: 8px;
    padding: 5px 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.bold-msg {
    font-weight: 700;
}

.indent-right {
    display: flex;
    align-items: center;
}

.heart-emoji {
    font-size: 16px;
    margin-left: 4px;
}

.row-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-like {
    font-size: 16px;
    margin-left: 2px;
    cursor: pointer;
    display: inline;
    background: none;
}